html {
    font-size: 62.5%;
    /* box-sizing: border-box; */
    background-color: #010233;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  .calculator {
    border: 1px solid #ccc;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
  }

  .calculator-screen {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 80px;
    border: none;
    background-color: #000000;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 4rem;
  }

  button {
    height: 50px;
    border-radius: 25px!important;
    border: none;
    font-size: 2rem!important;
    box-shadow: 4px 3px #645e3d;
  }
button:hover{
  border: none;
  color: #ffffff!important;
  font-weight: 900;
  background-color: rgb(228, 148, 0)!important;
}
button:active {
  outline: none!important;
  border: none!important;
}
button:focus {outline:0!important;}
  .equal-sign {
    width: 100%!important;
    grid-area: 5 / 1 / 5 / 5;
  }

  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }